---
import { db, Exchange } from "astro:db";
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "@/components/HeroContainer.astro";
import Link from "@/components/Link.astro";
import AddIcon from "@/components/icons/AddIcon.astro";
import EditIcon from "@/components/icons/EditIcon.astro";
import DeleteIcon from "@/components/icons/DeleteIcon.astro";

let exchanges = await db
  .select()
  .from(Exchange)
  .orderBy(Exchange.country)
  .all();

const formatRate = (rate: number) => {
  return new Intl.NumberFormat("es-ES", {
    style: "decimal",
    minimumFractionDigits: 4, // Asegura 4 decimales
    maximumFractionDigits: 4,
  }).format(rate);
};
---

<Layout
  title="Administración"
  description="Página para actualizar las tasas de cambio"
>
  <HeroContainer img="/FondoAdmin.webp">
    <span
      class="shadown text-4xl lg:text-6xl font-bold tracking-widest text-wrap font-tomaso"
      >Administración</span
    >
  </HeroContainer>

  <section
    class="grid h-full gap-4 mx-auto w-full max-w-[1400px] p-6 sm:p-20 mt-32"
  >
    <div class="overflow-x-auto">
      <table
        class="min-w-full text-white bg-white border border-gray-300 rounded-lg overflow-hidden"
      >
        <thead
          class="bg-sky-950 text-white rounded-t-lg border border-gray-300"
        >
          <tr>
            <th class="py-3 px-4 border-b text-left">ID</th>
            <th class="py-3 px-4 border-b text-left">País</th>
            <th class="py-3 px-4 border-b text-left">Moneda</th>
            <th class="py-3 px-4 border-b text-right pr-4">Tasa</th>
            <th class="py-3 px-4 border-b text-center">Símbolo</th>
            <th class="py-3 px-4 border-b text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="rounded-b-lg">
          {
            exchanges.map((exchange, index) => (
              <tr
                class={`${index % 2 === 0 ? "bg-gray-500" : "bg-gray-600"} hover:bg-gray-400 transition-colors duration-200`}
              >
                <td class="py-2 px-4 border-b">{exchange.id}</td>
                <td class="py-2 px-4 border-b">{exchange.country}</td>
                <td class="py-2 px-4 border-b">{exchange.currency}</td>
                <td class="py-2 px-4 border-b text-right">
                  {formatRate(exchange.rate)}
                </td>
                <td class="py-2 px-4 border-b text-center">
                  {exchange.symbol}
                </td>
                <td class="py-2 px-4 border-b text-center">
                  <div class="flex justify-center gap-8">
                    <Link
                      href={`/admin/edit/${exchange.id}`}
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
                    >
                      <EditIcon class="w-5 h-5 inline-block" />
                    </Link>
                    <Link
                      href={`/admin/delete/${exchange.id}`}
                      class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                    >
                      <DeleteIcon class="w-5 h-5 inline-block" />
                    </Link>
                  </div>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
    <Link
      href="/admin/add"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md w-fit transition ease-in-out duration-300"
    >
      <AddIcon class="w-6 h-6 inline-block mr-2" />
      Agregar
    </Link>
  </section>
</Layout>
